{% extends 'base.html' %}
{% load static %}

{% block static %}
  <link rel="stylesheet" href="{% static 'css/table.css' %}">
  <link rel="stylesheet" href="{% static 'css/list.css' %}">
{% endblock %}

{% block content %}
  <h2 class="main-title">게시판</h2>

  <div class="board-top">
    <p class="main-desc"><strong>{{ posts.paginator.count }}개</strong>의 게시글이 있습니다.</p>

    <div>
      <form id="search-form" class="search-form">
        <label for="category" class="a11y-hidden">카테고리</label>
        <select id="category" name="category">
          <option value="" selected hidden>선택</option>
          {% for category in categorys %}
            <option value="{{ category.id }}">{{category.name}}</option>
          {% endfor %}
        </select>
        <label for="search" class="a11y-hidden">검색</label>
        <input id="search" type="search" name="search" placeholder="검색어를 입력해주세요" vlaue=" ">
        <button type="submit">
          <img src="{% static 'img/icon-search.png' %}" alt="검색">
        </button>
      </form>

      <label for="sort" class="a11y-hidden">정렬</label>
      <select id="sort">
        <option>조회순</option>
        <option>최신순</option>
      </select>
    </div>
  </div>


  <!-- 게시판 리스트 -->
  <table class="table list">
    <colgroup>
      <!-- <col style="width: 40px"> -->
      <col style="width: 60px">
      <col style="width: 140px">
      <col>
      <col style="width: 150px">
      <col style="width: 120px">
      <col style="width: 100px">
    </colgroup>
    <thead>
      <tr>
        <!-- <th>
          <input type="checkbox" id="all-article">
          <label for="all-article">페이지 전체 게시글 선택</label>
        </th> -->
        <th>번호</th>
        <th>카테고리</th>
        <th>제목</th>
        <th>작성자</th>
        <th>작성일</th>
        <th>조회수</th>
      </tr>
    </thead>
    <tbody>
      <!-- 게시글이 없을때 / 검색한 게시글이 없을때 -->
      <!-- <tr>
          <td class="nodata" colspan="5">등록된 게시물이 없습니다.</td>
        </tr> -->
      <!-- 게시글이 있을때 -->
      {%for post in posts %}
        <tr>
          <!-- <td>
            <input type="checkbox" id="check2">
            <label for="check1">2번 게시글</label>
          </td> -->
          <td>{{ post.id }}</td>
          <td>{{ post.category.name }}</td>
          <td>
            <a href="{% url 'blog:detail' pk=post.pk %}">{{ post.title }}</a>
          </td>
          <td>{{ post.writer.email }}</td>
          <td>{{ post.created_at | date:'Y-m-d' }}</td>
          <td>{{ post.views }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <!-- //게시판 리스트 -->


  <div class="board-bottom">
    <!-- 페이지 -->
    <div class="pagination">
      <a href="?page=1"><img src="{% static 'img/first.png' %}" alt="첫번째 페이지"></a>
      <a {% if posts.has_previous %}href="?page={{ posts.previous_page_number }}"{% endif %}>
      <img src="{% static 'img/prev.png' %}" alt="이전 페이지"></a>
      {% for page_number in pageRange %}
        <a href="?page={{ page_number }}"
        {% if page_number == posts.number %}
        class="num active"
        {% else %}
        class="num"
        {% endif %}
      >{{ page_number }}</a>
      {% endfor %}
      <a {% if posts.has_next %} href="?page={{ posts.next_page_number }}" {% endif %}>
      <img src="{% static 'img/next.png' %}" alt="다음 페이지"></a>
      <a href="?page={{ lastPage }}"><img src="{% static 'img/last.png' %}" alt="마지막 페이지"></a>
    </div>
    <!-- //페이지 -->
    <div class="btn-group">
      <!-- <button class="btn">선택삭제</button> -->
      {% if request.user.is_authenticated == True %}
        <a href="{% url 'blog:write' %}" class="btn">글쓰기</a>
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block js %}
  <script>
    const searchForm = document.getElementById("search-form")
    searchForm.addEventListener('submit', (e) => {
      e.preventDefault();
      const data = new FormData(e.target);
      window.location.replace(`/blog/search/${data.get("category")}&${data.get("search")}`)
    })
  </script>
{% endblock %}