{% extends 'base.html' %}
{% load static %}

{% block static %}
<link rel="stylesheet" href="{% static 'css/table.css' %}">
<link rel="stylesheet" href="{% static 'css/write.css' %}">
{% endblock %}

{% block content %}
<!-- 글쓰기 페이지 -->
<h2 class="main-title">글쓰기</h2>
<p class="main-desc">내용을 입력 해주세요.</p>

<form action="{% url 'blog:edit' pk=post.id %}" method="post">
  {% csrf_token %}
  <table class="table write">
    <colgroup>
      <col style="width: 120px">
      <col>
    </colgroup>
    <tbody>
      <tr>
        <th><label for="category">카테고리</label></th>
        <td>
          <select id="category" name="category">
            <option value="" {% if post.category.id == Null%}selected{% endif %} hidden>선택</option>
            {% for category in categorys %}
              <option value="{{ category.id }}" {% if category.id == post.category.id%}selected{%endif%}>{{category.name}}</option>
            {% endfor %}
          </select>
        </td>
      </tr>
      <tr>
        <th><label for="title">제목</label></th>
        <td><input type="text" id="title" name="title" value="{{ post.title }}"></td>
      </tr>
      <tr>
        <th><label for="content">내용</label></th>
        <td>
          <textarea id="content" name="content">{{ post.title }}</textarea>
        </td>
      </tr>
          <tr>
            <th><label for="board-file">파일첨부</label></th>
            <td>
              <input type="file" id="board-file">
            </td>
          </tr>
        </tbody>
      </table>
      <div class="btn-group">
        <a href="{% url 'blog:list' %}" class="btn">목록</a>
        <button type="reset" class="btn">초기화</button>
        <button type="submit" class="btn">수정</button>
      </div>
    </form>
{% endblock %}